body {
    background-color: #2a2135;
    background: radial-gradient(#363636, #252525) !important;
    color: rgb(31, 31, 31);
}

html, body {
    height: 100%;
 }

#mapid {
    height: 400px;
    width: 100%;
}

.space {
    margin: 25px;
}
#email-input {
    margin-right:10px;
}
#password-input {
    margin-right:10px;
}
.card-img-top {
    border-radius:50%;
}
#bio-card {
    margin-top:10px;
}