body {
    background-color: #2a2135;
    background: radial-gradient(#292e3b, #292e3b, #261f83, #261f83) !important;
    color: rgb(31, 31, 31);
}

nav {
    background-image: linear-gradient(to top left, rgb(7, 76, 88), rgb(22, 45, 110), rgb(46, 14, 71), rgb(69, 14, 71)); 
}

html, body {
    height: 100%;
 }
/* 
 .no-padding {
     padding-right: 0 !important;
     
     padding-left: 0 !important;
 } */
.h-90 {
    height: calc(100% - 23px) !important;
}
#mapid {
    /* height: 100% !important; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.486);
}
.row {
    margin-right: 0;
}
.space {
    margin: 25px;
}
#email-input {
    margin-right:10px;
}
#password-input {
    margin-right:10px;
}
.card-img-top {
    border-radius:50%;
}
#bio-card {
    margin-top:10px;
}
.nav-item {
    /* padding: 8px 0; */
}
.p-r {
    padding-right: 0;
    padding-left: 0;
    }

.layer-name {
    width: 150px;
}

    @keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
     }
}


.pulse
{
     animation: shadow-pulse 1s infinite;
}
